
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ==================
Common Css
================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}
.container_style{
    background: #fff;
    border-radius: 5px;
    padding: 30px;
}
.container{
    width: 870px;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
    gap: 15px;
}
.secMargin{
    margin-bottom: 35px;
}
.sub_title{
    color: #562EFF;
    margin-bottom: 40px;
}



/* ==================
Header Css
================== */
.header {
    background: #562EFF;
    padding: 25px 0;
}
.navigation {
    display: flex;
    justify-content: space-between;
}
.navigation .logo img {
    width: 40px;
    height: 51px;
}
.navigation .logo span {
    color: #fff;
    font-size: 24px;
}
.navigation ul {
    gap: 35px;
}
.navigation ul li{
    list-style: none;
}
.navigation ul li a {
    text-decoration: none;
    color: #fff;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}


/* ==================
Top-area Css
================== */

/* Top-players-css */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player img{
    width: 56px;
    height: 56px;
}


/* Top-blogs-css */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 59px;
    grid-row-gap: 25px;
}
.blog {
    align-items: stretch;
}
.blog .blog_thumbnail img{
    width: 177px;
    height: 110px;
}
.blog .blog_info h3{
    line-height: 34px;
}
.blog .blog_info p{
    font-size: 16px;
    color: #9F9F9F;
}
.blog .blog_info p a{
    text-decoration: none;
    color: #562EFF;
}


/* ==================
Course-area Css
================== */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
}
.course {
    box-shadow: 0 0 8px lightgray;
    padding: 10px;
    border-radius: 5px;
}
.course .course_banner{
    text-align: center;
}
.course .course_banner img{
    width: 224px;
    height: 104px;
    margin-bottom: 10px;
}
.course .course_details h3{
    margin-bottom: 10px;
}
.course .course_details .course_instructor {
    color: #ED6B4F;
    font-size: 14px;
    margin-bottom: 10px;
}
.course .course_details .ratings_and_timing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course .course_details .ratings_and_timing p{
    font-size: 14px;
}
.course .course_details .ratings_and_timing .ratings .fa-star.filled{
    color: #FFC014;
}
.course .course_details .ratings_and_timing .ratings .fa-star.empty{
    color: #AEAEAE;
    opacity: 0.25;
}
.course .course_details .ratings_and_timing .timing {
    background: #FFE4E8;
    padding: 5px 8px;
    color: #FF4A60;
    border-radius: 20px;
}



/* =======================
    Media Quries
======================= */



/* iPad device */
@media only screen and (max-width: 992px){
    .container{
        width: 100%;
    }
    .header{
        padding: 25px;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .courses{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }
    .course .course_banner img{
        width: 100%;
        height: 150px;
    }
}


/* Mobile device */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
    }
    .navigation .logo{
        justify-content: center;
        margin-bottom: 40px;
    }
    .navigation ul{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .navigation ul li a{
        width: 300px;
        display: block;
        text-align: center;
        padding: 15px 0;
        border-radius: 10px;
        transition: 0.4s;
    }
    .navigation ul li a:hover{
        background: #562ECC;
    }
    .navigation ul li img{
        width: 60px;
        height: 60px;
    }
    .navigation{
        flex-direction: column;
        justify-content: center;
    }
    .players, .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .latest_courses{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .courses{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }
    .course .course_banner img{
        width: 100%;
        height: 200px;
    }
}
